.wrapper {
  padding-top: 50px;
  background: rgb(6, 47, 75);
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 20px;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;;
  background-image: url("https://media.giphy.com/media/9N2UvCx7wXLnG/giphy.gif");
  background-size: cover;
    background-repeat: no-repeat
}
